<p>
	<label for="{{ get_title_id }}">{{ title_label }}</label>
	<input class="widefat" id="{{ get_title_id }}" name="{{ get_title_name }}" type="text" value="{{ get_title }}">
</p>
<p>
	<label for="{{ get_user_id }}">{{ user_label }}</label>
	<input class="widefat" id="{{ get_user_id }}" name="{{ get_user_name }}" type="text" value="{{ get_user }}">
</p>
